
<div class="row">
  <div class="col-md-12">
    <h5><%= I18n.t('riyosha.edit.basic_information') %></h5>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <%= label_tag :first_name %>
    <%= @user.first_name %><br/>
  </div>
  <div class="col-md-3">
    <%= label_tag :email %>
    <%= @user.email %>
  </div>
  <div class="col-md-3">
    <%= I18n.t('riyosha.edit.dtu_base_reference') %>
  </div>
  <div class="col-md-3">
    <a href="https://www.dtubasen.dtu.dk/admin">
      <button type="submit" class="btn btn-primary">
        <%= I18n.t('riyosha.edit.dtu_base_link_text') %>
      </button>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <%= label_tag :last_name %>
    <%= @user.last_name %><br/>
  </div>
  <div class="col-md-offset-6 col-md-3">
    <a href="<%= config.main_service_url %>">
      <button class="btn">
        <%= t('riyosha.main_service_text') %>
      </button>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h5><%= I18n.t('riyosha.edit.lending_information') %></h5>
  </div>
</div>

<% if @user.may_lend_printed? %>
  <div class="row">
    <div class="col-md-12">
      <%= I18n.t('riyosha.edit.allow_lending_printed') %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-12">
      Failed to create aleph entry
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h5><%= I18n.t('riyosha.edit.user_address') %></h5>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <% @user.address_lines.each do |line| %>
      <%= line %><br/>
    <% end %>
  </div>
</div>

