
<div class="span3">
  <h4><i class="icon-user"> </i> Your account</h4>
  <h5><%= @user.first_name %> <%= @user.last_name%></h5>
  <%= @user.email %>
</div>

<div class="span12">
  <hr/>
</div>

<div class="span12">
  <h4><i class="icon-book"></i> <%= I18n.t('riyosha.edit.lending_information') %></h4>
</div>

<% if @user.may_lend_printed? %>
  <div class="span9">
    <p><%= I18n.t('riyosha.edit.allow_lending_printed') %></p>
  </div>
  <div class="span3">
    <p><%= link_to 'Access printed collection', aleph_new_session_path(:func => 'bor-info'), :class => 'btn btn-primary' %></p>
  </div>
<% else %>
  <%= form_tag(new_dk_nemid_user_session_path, :method => :get ) do %>
    <div class="span6">
      <p><%= I18n.t('riyosha.edit.enable_lending_printed').html_safe %></p>
    </div>
    <div class="span3">
      <p>
        <%= check_box_tag :accept_payment_terms  %>
        <%= t('riyosha.edit.payment_terms').html_safe %><br/>
        <%= check_box_tag :accept_printed_terms %>
        <%= t('riyosha.edit.printed_terms').html_safe %>
      </p>
    </div>
    <div class="span3">
      <p>
        <button type="submit" class="btn btn-primary">
          <%= I18n.t('riyosha.edit.printed_signup') %>
        </button>
      </p>
    </div>
  <% end %>
<% end %>
