<div class="row">
  <div class="col-md-12">
    <h4><%= I18n.t('riyosha.unlock.title') %></h4>
  </div>
</div>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name),
      :html => { :method => :post }) do |f| %>
<div class="row">
  <div class="col-md-3">
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %>
  </div>
  <div class="col-md-9">
    <label>&nbsp;</label>
    <%= f.submit I18n.t('riyosha.unlock.request'),
        :class => 'btn btn-primary' %>
  </div>
</div>
<% end %>
