<div class="row>
  <div class="span12">
    <h4><%= t('riyosha.password.title') %></h4>
  </div>
</div>

<%= form_for(resource, :as => resource_name,
    :url => password_path(resource_name),
    :html => { :method => :put }) do |f| %>
  <div class="row">
    <div class="span12">
      <%= devise_error_messages! %>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <%= f.label :password, t('riyosha.password.new') %>
      <%= f.password_field :password %>
    </div>
    <div class="span3">
      <%= f.hidden_field :reset_password_token %>
      <%= f.label :password_confirmation, t('riyosha.password.confirm') %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="span6">
      <label>&nbsp;</label>
      <button type="submit" class="btn btn-primary">
        <%= I18n.t('riyosha.password.change') %>
      </button>
    </div>
  </div>

<% end %>
