<div class="col-md-12">
  <h4><%= t('riyosha.password.forgot.title') %></h4>
</div>
<%= form_for(resource, :as => resource_name,
                       :url => password_path(resource_name),
                       :html => { :method => :post }) do |f| %>
  <div class="col-md-3">
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true, :required => true %>
  </div>

  <% if resource.respond_to? :library_id %>
    <div class="col-md-3">
      <%= f.label :library_id %>
      <%= f.text_field :library_id, :required => true %>
    </div>
  <% end %>

  <div class="col-md-3">
    <label>&nbsp;</label>
    <%= f.submit t('riyosha.password.forgot.request'),
                  :class => 'btn btn-primary' %>
  </div>
<% end %>
