<div class="service-menu container hidden-phone">
  <div class="row">
    <div class="span3">
      <ul>
        <li>Find Information</li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/find/about_dtu_findit"><%= t('dtu.service_menu.about') %></a></li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/find/other"><%= t('dtu.service_menu.other_search_tools') %></a></li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/find/borrow"><%= t('dtu.service_menu.borrow_books') %></a></li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/find/reference"><%= t('dtu.service_menu.reference_mgmt') %></a></li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/find/industry_public"><%= t('dtu.service_menu.industry_public') %></a></li>
      </ul>
    </div>
    <div class="span3">
      <ul>
        <li>Visit The Library</li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/visit/opening"><%= t('dtu.service_menu.opening') %></a></li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/visit/exhibit"><%= t('dtu.service_menu.exhibit') %></a></li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/visit/innovation"><%= t('dtu.service_menu.innovation') %></a></li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/visit/study"><%= t('dtu.service_menu.study') %></a></li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/visit/training"><%= t('dtu.service_menu.training') %></a></li>
      </ul>
    </div>
    <div class="span3">
      <ul>
        <li>Publishing At DTU</li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/publish/publishing"> <%= t('dtu.service_menu.publishing') %></a></li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/publish/student"> <%= t('dtu.service_menu.student') %></a></li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/publish/copyright"> <%= t('dtu.service_menu.copyright') %></a></li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/publish/openaccess"> <%= t('dtu.service_menu.openaccess') %></a></li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/publish/bibliometrics"> <%= t('dtu.service_menu.bibliometrics') %></a></li>
      </ul>
    </div>
    <div class="span3">
      <ul>
        <li>About and Contact</li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/about/news_calender"><%= t('dtu.service_menu.news_calendar') %></a></li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/about/contact"><%= t('dtu.service_menu.contact') %></a></li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/about/staff"><%= t('dtu.service_menu.staff') %></a></li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/about/mission_vision_history"><%= t('dtu.service_menu.mission_vision') %></a></li>
        <li><a href="http://www.bibliotek.dtu.dk/english/servicemenu/about/projects"><%= t('dtu.service_menu.projects') %></a></li>
      </ul>
    </div>
  </div>
</div>
