<%= form_for(resource, :as => resource_name,
      :url => session_path(resource_name)) do |f| %>
<div class="row">
  <div class="col-md-offset-4 col-md-4 text-center">
    <%= hidden_field_tag 'lt', session['lt'].ticket %>
    <%= hidden_field_tag 'only', 'dtu' %>
    <button type="submit" class="btn btn-primary btn-large">
      <i class='icon-sign-in'></i>&nbsp;&nbsp;
      <%= t('riyosha.sign_in.dtu_user') %>
    </button>
  </div>
  <div class="col-md-offset-4 col-md-6 mt-20">
    <%= t('riyosha.sign_in.dtu_affiliate') %><br />
    <%= t('riyosha.sign_in.dtu_max_use') %><br />
    <%= t('riyosha.sign_in.dtu_remember') %><br />
  </div>
</div>
<% end %>
<div class="row">
  <div class="col-md-offset-4 col-md-4 text-center mt-20">
    <%= link_to I18n.t('riyosha.sign_in.non_dtu'),
      new_user_session_path({ :template => 'local_user' }),
      :class => 'btn' %>
  </div>
</div>
