<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= image_tag 'dtu.png' %>
  <p>
  EMPLOYEE
  </p>
  <p>
  STUDENT
  </p>
  <%= hidden_field_tag 'lt', session['lt'].ticket %>
  <%= hidden_field_tag 'only', 'dtu' %>
  <p>
  <%= f.submit "Sign in as DTU user" %>
  </p>
<% end %>
<%= link_to "Login as normal user", new_user_session_path({ :template => 'local_user' }) %>
