
  <%= render 'devise/shared/logins' %>

  <div class="row dtu-spacing">
    <div class="span12">
      <h4>Sign In Directly:</h4>
    </div>
  </div>
<%= form_for(resource, :as => resource_name,
      :url => session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="span3">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true,
            :class => 'input-block-level' %>
    </div>
    <div class="span3">
      <%= f.label :password %>
      <%= f.password_field :password, :class => 'input-block-level' %>
    </div>
    <%= hidden_field_tag 'lt', session['lt'].ticket %>
    <div class="span6">
      <label>&nbsp;</label>
      <%= f.submit I18n.t('riyosha.sign_in.submit'),
          :class => 'btn' %>
    </div>
  </div>

  <div class="row">
    <div class="span3">
  <% if devise_mapping.rememberable? -%>
      <label class="checkbox">
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      </label>
  <% end -%>
    </div>
    <div class="span9">
      <ul class="inline">
<%= render "devise/shared/links" %>
      </ul>
    </div>
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="row dtu-spacing">
    <div class="span12">
      <h4>New to DTU?</h4>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <%= link_to I18n.t('riyosha.sign_up.non_dtu'),
        new_registration_path(resource_name),
        :class => '' %></li>
    </div>
  </div>
<% end -%>

  <div class="row dtu-spacing">
    <div class="span12">
    <h4>DTU Employee or Student?</h4>
    </div>
  </div>

  <div class="row">
    <div class="span12">
    <%= link_to I18n.t('riyosha.sign_in.dtu_user'),
      new_user_session_path({ :template => 'dtu_user' }),
      :class => '' %>
    </div>
  </div>

